* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1.8;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  color: #555;
}

li {
  list-style: none;
}

.page-header {
  font-size: 4rem;
  text-align: center;
  width: 50%;
  margin: 25rem auto;
}

.container {
  margin: 4rem;
  padding: 4rem;
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #000;
}

.header-img {
  height: 80vh;
  width: 100%;
}

.main-nav-ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
  margin: 0 7rem;
}

.burger-menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.main-nav-li {
  margin-top: 3rem;
  opacity: 65%;
}

.main-nav-li:hover,
.main-nav-li:active {
  opacity: 100%;
}

.active {
  border-bottom: 3px solid #fff;
  opacity: 100%;
}

.logo {
  height: 8rem;
  width: 25rem;
  margin-top: 3rem;
}

.m-g {
  margin: 0 3rem;
  padding: 0 3rem;
}

.m-t {
  margin: 3rem;
  padding: 3rem 0;
}

.text-header {
  font-size: 4rem;
  color: #000;
}

.header-text {
  font-size: 2rem;
}

.join {
  background-color: #32f756;
  border: none;
  outline: none;
  padding: 2rem;
  border-radius: 9px;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin: 4rem 20rem;
  text-align: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-img {
  height: 100%;
  width: 70%;
}

.primary-header {
  font-size: 2.5rem;
}

.text-description {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 2;
}

.secondary-header {
  font-size: 2.5rem;
  text-align: center;
  color: #011e01;
}

.course-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view {
  cursor: pointer;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: #61ec7a;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.feature {
  font-size: 2.2rem;
  margin-left: 2rem;
}

.view:hover,
.view:active {
  background-color: #32f756;
}

.c-t {
  text-align: center;
  width: 80%;
  margin: auto;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid--3 {
  display: block;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 9px;
  padding: 4rem;
  margin: 3rem;
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn {
  font-size: 2rem;
}

.content {
  display: none;
}

.content.show {
  display: block;
  font-size: 1.6rem;
}

.feature-section {
  margin-bottom: 3rem;
  background-color: #e4f1fe17;
}

.grid-3-img {
  height: 20rem;
  width: 100%;
  border-radius: 9px;
}

.grid-3-cols {
  margin: 3rem;
  position: relative;
}

.img-text {
  font-size: 2rem;
  bottom: 0;
  color: #ff6363;
  color: #000;
  font-weight: bold;
}

.tertiary-header {
  color: #011e01;
  color: #a7d836;

  font-size: 1.8rem;
}

.o-l {
  list-style: disc;
  font-size: 1.6rem;
}

.others {
  margin-top: 7rem;
}

.contact {
  background-color: #f9f9f9;
  background-color: #1d72c717;
  padding: 4rem;
  grid-template-columns: 40% 60%;
}

.p-h {
  color: #180202;
}

.input {
  padding: 1rem;
  width: 40rem;
  border: none;
  outline: none;
  border-radius: 9px;
}

.form-ul {
  margin: 2rem;
}

.form-li {
  margin: 2rem 0;
}

.name {
  display: flex;
  gap: 2rem;
}

.text-area {
  width: 100%;
  padding: 4rem;
  resize: none;
}

.c-g {
  height: 50rem;
  width: 100%;
  border-radius: 15px;
}

.g-w {
  padding: 3rem;
}

.btn {
  width: 20%;
  padding: 1rem;
  text-align: center;
  background-color: #ff6363;
  border: none;
  outline: none;
  border-radius: 9px;
  color: #fff;
  font-weight: 700;
  margin-left: 30rem;
  cursor: pointer;
}

.footer {
  background-color: #000;
  padding: 5rem;
}

.f-t {
  width: 50rem;
  color: #eee;
  padding-top: 3rem;
}

.header {
  font-size: 2rem;
  color: #fff;
}

.address {
  color: #eee;
}

.f-g {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-bar {
  background-color: #fff;
}

.m-b {
  margin-bottom: 7rem;
}

.socials {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin: 5rem 2rem;
}

.s-i {
  color: #ffffff;
  /* color: #15ff08; */
  /* opacity: 55%; */
}

.icons {
  color: #61ec7a;
  color: #a7d836;
}

.f--t {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}
